USE [MBG]
GO
/****** Object:  Table [dbo].[TB_EMPLOYEE]    Script Date: 10/13/2024 5:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMPLOYEE](
	[EMPLOYEE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NULL,
	[EMPLOYEE_EMAIL] [nvarchar](max) NULL,
	[EMPLOYEE_DESIGNATION] [nvarchar](max) NULL,
 CONSTRAINT [PK_TB_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EMPLOYEE_DETAILS]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMPLOYEE_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NULL,
	[FILENAME] [nvarchar](max) NULL,
	[DOCUMENT_1] [nvarchar](max) NULL,
	[DOCUMENT_2] [nvarchar](max) NULL,
	[DOCUMENT_3] [nvarchar](max) NULL,
	[CREATED_DATE] [date] NULL,
 CONSTRAINT [PK_TB_EMPLOYEE DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USER]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [bigint] NULL,
	[USERNAME] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[ROLEID] [int] NULL,
	[ISACTIVE] [bit] NULL,
 CONSTRAINT [PK_TB_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USER_ROLES]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USER_ROLES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLEID] [bigint] NULL,
	[ROLETYPE] [nvarchar](250) NULL,
 CONSTRAINT [PK_TB_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_EMPLOYEE] ON 

INSERT [dbo].[TB_EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_EMAIL], [EMPLOYEE_DESIGNATION]) VALUES (2, N'Adam', N'Adam12@yahoo.com', N'IT')
INSERT [dbo].[TB_EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_EMAIL], [EMPLOYEE_DESIGNATION]) VALUES (3, N'Rahul', N'Rahul@gmail.co.in', N'Finance')
INSERT [dbo].[TB_EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_EMAIL], [EMPLOYEE_DESIGNATION]) VALUES (4, N'Chris', N'Chris@yahoo.com', N'InfraTeam')
SET IDENTITY_INSERT [dbo].[TB_EMPLOYEE] OFF
SET IDENTITY_INSERT [dbo].[TB_EMPLOYEE_DETAILS] ON 

INSERT [dbo].[TB_EMPLOYEE_DETAILS] ([ID], [EMPLOYEE_ID], [FILENAME], [DOCUMENT_1], [DOCUMENT_2], [DOCUMENT_3], [CREATED_DATE]) VALUES (2, 2, N'VISA,MEID,PPP', N'UseTerms_OEM_Windows_11_English.pdf', N'MSFT_USA_EN_Consumer_Complete_TermsandConditions_V2.pdf', N'excel_2013_english_ba55c3bb-de1f-4878-a005-95e103539bcf.pdf', CAST(N'2024-10-11' AS Date))
INSERT [dbo].[TB_EMPLOYEE_DETAILS] ([ID], [EMPLOYEE_ID], [FILENAME], [DOCUMENT_1], [DOCUMENT_2], [DOCUMENT_3], [CREATED_DATE]) VALUES (3, 3, NULL, N'Microsoft Azure Detailed Usage - Sample CSV.xlsx', N'Microsoft Azure MSDN- Sample Invoice.pdf', N'Office 365_University_English_d85182e1-655a-41d0-bf3b-ae3a0bfb2c6d.pdf', CAST(N'2024-10-11' AS Date))
INSERT [dbo].[TB_EMPLOYEE_DETAILS] ([ID], [EMPLOYEE_ID], [FILENAME], [DOCUMENT_1], [DOCUMENT_2], [DOCUMENT_3], [CREATED_DATE]) VALUES (4, 4, NULL, N'UseTerms_OEM_Windows_11_English.pdf', N'MSFT_USA_EN_Consumer_Complete_TermsandConditions_V2.pdf', N'Microsoft Azure Detailed Usage - Sample CSV.xlsx', CAST(N'2024-10-11' AS Date))
SET IDENTITY_INSERT [dbo].[TB_EMPLOYEE_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[TB_USER] ON 

INSERT [dbo].[TB_USER] ([ID], [USERID], [USERNAME], [PASSWORD], [ROLEID], [ISACTIVE]) VALUES (1, 101, N'Admin', N'admin', 1, 1)
INSERT [dbo].[TB_USER] ([ID], [USERID], [USERNAME], [PASSWORD], [ROLEID], [ISACTIVE]) VALUES (2, 102, N'Test2', N'2', 1, 0)
SET IDENTITY_INSERT [dbo].[TB_USER] OFF
SET IDENTITY_INSERT [dbo].[TB_USER_ROLES] ON 

INSERT [dbo].[TB_USER_ROLES] ([ID], [ROLEID], [ROLETYPE]) VALUES (1, 1, N'ADMIN')
INSERT [dbo].[TB_USER_ROLES] ([ID], [ROLEID], [ROLETYPE]) VALUES (2, 2, N'EMPLOYEE')
SET IDENTITY_INSERT [dbo].[TB_USER_ROLES] OFF
/****** Object:  StoredProcedure [dbo].[Sp_CheckLogin]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_CheckLogin]
@username nvarchar(max),
@password nvarchar(max)
as
Begin
select USERNAME,PASSWORD,ROLEID,ISACTIVE from TB_USER where USERNAME=@username and
PASSWORD=@password ;
end;
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteEmployee]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteEmployee]
@EMPLOYEE_ID BIGINT
AS 
BEGIN
SET NOCOUNT ON;
BEGIN TRY
DELETE FROM   TB_EMPLOYEE 
WHERE EMPLOYEE_ID=@EMPLOYEE_ID;

DELETE FROM   TB_EMPLOYEE_DETAILS 
WHERE EMPLOYEE_ID=@EMPLOYEE_ID;
 END TRY
    BEGIN CATCH
	 END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Sp_EditEmployee]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_EditEmployee]
@EMPLOYEE_ID BIGINT,
@EMPLOYEE_NAME NVARCHAR(250),
@EMPLOYEE_EMAIL NVARCHAR(MAX),
@EMPLOYEE_DESIGNATION NVARCHAR(MAX),
@DOCUMENT_1 NVARCHAR(MAX),
@DOCUMENT_2 NVARCHAR(MAX),
@DOCUMENT_3 NVARCHAR(MAX),
@FILEPATH NVARCHAR(MAX)
AS 
BEGIN
SET NOCOUNT ON;
BEGIN TRY
-- Insert into TB_EMPLOYEE
UPDATE  TB_EMPLOYEE SET EMPLOYEE_NAME=@EMPLOYEE_NAME,
EMPLOYEE_EMAIL=@EMPLOYEE_EMAIL,
EMPLOYEE_DESIGNATION=@EMPLOYEE_DESIGNATION
WHERE EMPLOYEE_ID=@EMPLOYEE_ID;

-- Insert into TB_EMPLOYEE_DETAILS
UPDATE  TB_EMPLOYEE_DETAILS SET DOCUMENT_1=@DOCUMENT_1,
DOCUMENT_2=@DOCUMENT_2,DOCUMENT_3=@DOCUMENT_3,
FILENAME=@FILEPATH
WHERE EMPLOYEE_ID=@EMPLOYEE_ID;
 END TRY
    BEGIN CATCH
	 END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetEmployeeById]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetEmployeeById]
    @ID INT
AS
	BEGIN
		SET NOCOUNT ON;

		SELECT 
			TBE.EMPLOYEE_NAME,
			TBE.EMPLOYEE_EMAIL,
			TBE.EMPLOYEE_DESIGNATION,
			TBED.DOCUMENT_1,
			TBED.DOCUMENT_2,
			TBED.DOCUMENT_3,
			TBED.FILENAME
		FROM 
			TB_EMPLOYEE TBE
			JOIN 
        TB_EMPLOYEE_DETAILS TBED ON TBE.EMPLOYEE_ID=TBED.EMPLOYEE_ID 
		WHERE 
			TBE.EMPLOYEE_ID = @ID;
	END
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertEmployee]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_InsertEmployee]
@EMPLOYEE_NAME NVARCHAR(250),
@EMPLOYEE_EMAIL NVARCHAR(MAX),
@EMPLOYEE_DESIGNATION NVARCHAR(MAX),
@DOCUMENT_1 NVARCHAR(MAX),
@DOCUMENT_2 NVARCHAR(MAX),
@DOCUMENT_3 NVARCHAR(MAX),
@FILEPATH NVARCHAR(MAX)
AS 
BEGIN
DECLARE
@EMPLOYEE_ID BIGINT,
@CREATED_DATE DATE;
SET NOCOUNT ON;
SET @CREATED_DATE = GETDATE();
-- Insert into TB_EMPLOYEE
INSERT INTO TB_EMPLOYEE
(
EMPLOYEE_NAME,
EMPLOYEE_EMAIL,
EMPLOYEE_DESIGNATION
)
VALUES
(
@EMPLOYEE_NAME,
@EMPLOYEE_EMAIL,
@EMPLOYEE_DESIGNATION
);
-- Get the last inserted EMPLOYEE_ID
SET @EMPLOYEE_ID = SCOPE_IDENTITY();
-- Insert into TB_EMPLOYEE_DETAILS
INSERT INTO TB_EMPLOYEE_DETAILS
(
EMPLOYEE_ID,
DOCUMENT_1,
DOCUMENT_2,
DOCUMENT_3,
FILENAME,
CREATED_DATE
)
VALUES
(
@EMPLOYEE_ID,
@DOCUMENT_1,
@DOCUMENT_2,
@DOCUMENT_3,
@FILEPATH,
@CREATED_DATE
);
END;
GO
/****** Object:  StoredProcedure [dbo].[Sp_TB_EMPLOYEE_GETDATA]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_TB_EMPLOYEE_GETDATA]
As
Begin
Set Nocount on;
select TBE.EMPLOYEE_ID,TBE.EMPLOYEE_NAME,TBE.EMPLOYEE_EMAIL,TBE.EMPLOYEE_DESIGNATION,TBD.FILENAME,TBD.DOCUMENT_1,TBD.DOCUMENT_2,TBD.DOCUMENT_3 from  TB_EMPLOYEE TBE
 inner join TB_EMPLOYEE_DETAILS TBD 
 on TBE.EMPLOYEE_ID=TBD.EMPLOYEE_ID;
 End;
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateEmployee]    Script Date: 10/13/2024 5:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateEmployee]
    @EMPLOYEE_ID INT,
    @EMPLOYEE_NAME NVARCHAR(255),
    @EMPLOYEE_EMAIL NVARCHAR(255),
    @EMPLOYEE_DESIGNATION NVARCHAR(255),
    @DOCUMENT_1 NVARCHAR(255) = NULL,
    @DOCUMENT_2 NVARCHAR(255) = NULL,
    @DOCUMENT_3 NVARCHAR(255) = NULL,
    @FILEPATH NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TB_EMPLOYEE
    SET 
        EMPLOYEE_NAME = @EMPLOYEE_NAME,
        EMPLOYEE_EMAIL = @EMPLOYEE_EMAIL,
        EMPLOYEE_DESIGNATION = @EMPLOYEE_DESIGNATION
    WHERE EMPLOYEE_ID = @EMPLOYEE_ID;

    UPDATE TB_EMPLOYEE_DETAILS
    SET 
        DOCUMENT_1 = COALESCE(@DOCUMENT_1, DOCUMENT_1),
        DOCUMENT_2 = COALESCE(@DOCUMENT_2, DOCUMENT_2),
        DOCUMENT_3 = COALESCE(@DOCUMENT_3, DOCUMENT_3),
        FILENAME = @FILEPATH
    WHERE EMPLOYEE_ID = @EMPLOYEE_ID;
END
GO
